<div class="container">
	<div class="input-wrapper">
		<div class="row">
			<div class="input-field col s6">
	      <input placeholder="Username" type="text" class="validate" ng-model="username">
	    	<label for="username">Username</label>
	    </div>
	    <div class="input-field col s6">
	      <input placeholder="Password" type="text" class="validate" ng-model="password">
	    	<label for="password">Password</label>
	    </div>
		</div>
		<div class="row">
			<a class="waves-effect waves-light btn" ng-click="login()">Submit</a>
		</div>
	</div>
</div>